<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>[POST method로 parameter 전달]</h2>

	<form action="input2" method="POST">
		<p>
			이름 <input type="text" name="name" />
		</p>
		<p>
			전화번호 <input type="radio" name="telecom" value="kt" checked="checked">KT
			<input type="radio" name="telecom" value="sk">SK <input
				type="radio" name="telecom" value="lg">LG <br> <input
				type="text" name="phonenum" /> <br>
		</p>

		<p>
			<input type="submit" value="전송"> <input type="reset"
				value="초기화">
		</p>
	</form>

</body>
</html>