<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.softsociety.issho.dao.MemberDAO">

<!-- 회원가입 -->
<insert id="insert" parameterType="Member">
    insert into members (
		memb_mail
		, memb_name
		, memb_pwd
		<if test="memb_ogFile != null and memb_savedFile != null">
		, memb_ogFile
		, memb_savedFile
		</if>
		<if test="memb_work != null">
		, memb_work
		</if>
		, memb_phone
		, enabled
		, rolename
	) 
    values (
		#{memb_mail}
		, #{memb_name}
		, #{memb_pwd}
		<if test="memb_ogFile != null and memb_savedFile != null">
		, #{memb_ogFile}
		, #{memb_savedFile}
		</if>
		<if test="memb_work != null">
		, #{memb_work}
		</if>
		, #{memb_phone}
		, 1					<!-- enabled : 어디서 활성화 시켜 줄 것인지 정리 필요 -->
		, 'ROLE_USER'
	)
</insert>

</mapper>
