<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.softsociety.issho.chat.dao.ChatDAO">
	
	<select id="chatList" parameterType="Map" resultType="Chatroom">
		SELECT c.chatroom_seq, c.chatroom_name, (SELECT MAX(chatmsg_sendDate) FROM chatmsg)
		FROM chatroom c, chatmember m, chatmsg g
		WHERE c.prj_domain = #{prj_domain} AND m.chat_member= #{member}
		GROUP BYs c.chatroom_seq, c.chatroom_name
	</select>


</mapper>