<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.softsociety.issho.member.dao.MemberDAO">

	<!-- 멤버 검색 -->
	<select id="idSearchOne" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM members
		WHERE memb_mail = #{memb_mail}
	</select>

	<!-- 회원가입 -->
	<insert id="memberJoin" parameterType="Members">
		INSERT INTO members(memb_mail, memb_name, memb_pwd,
		<if test="memb_ogfile != null and memb_ogfile != ''">
			memb_ogfile, memb_savedfile,
		</if>
		memb_work, memb_phone, enabled)
		VALUES(#{memb_mail}, #{memb_name}, #{memb_pwd},
		<if test="memb_ogfile != null and memb_ogfile != ''">
			#{memb_ogfile}, #{memb_savedfile},
		</if>
		#{memb_work}, #{memb_phone}, 1)
	</insert>
	
	<!-- 관리자 페이지에서 멤버 삭제 -->
	<delete id="deleteMember" parameterType="String">
		DELETE FROM members
		where
		memb_mail=#{memb_mail}
	</delete>

</mapper>
