<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/config :: configFragment">
<meta charset="UTF-8">
<title>issho - 공지사항</title>

</head>
<body>
<!-- 홍상혁 : 페이징을 위한 자바 스크립트-->
<script>
function modalTest(obj){
	alert(obj);
	return true;
};
</script>

<!-- Modal Test#1 -->

<!-- Modal changeComment Modal  시작 -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  댓글 삭제
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">	
			<!-- Modal Header 시작 -->
			<div class="modal-header bg-primary" >
				<h5 class="modal-title" id="exampleModalLongTitle">댓글 삭제</h5>
<!--
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
-->
			</div>
			<!-- Modal Header 끝 -->
				
			<!-- Modal BODY 시작 -->
			<div class="modal-body">
				댓글을 삭제하시겠습니까?
			</div>
			<!-- Modal BODY 끝 -->
			<!-- Modal Footer 시작 -->
	
			<div class="modal-footer">
				<button type="button" class="btn btn-primary btn-sm">
					<a class="btn btn-primary btn-sm" href="/noticeList" onclick="return modalTest('댓글삭제')">삭제</a></button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
			</div>
			<!-- Modal Footer 끝 -->
		</div>
	</div>
</div>
<!-- Modal changeComment Modal  시작 -->

<!-- Modal changeComment Modal  시작 -->
<div class="modal " id="changeComment" tabindex="-1" role="dialog" aria-labelledby="changeCommentTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">	
			<!-- Modal Header 시작 -->
			<div class="modal-header bg-primary text-white" >
				<h5 class="modal-title" id="modalTitle">댓글 수정5</h5>

				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>

			</div>
			<!-- Modal Header 끝 -->
				
			<!-- Modal BODY 시작 -->
			<div class="modal-body">
				<form class="my-20" action="/phonebook" method="get" onsubmmit="return doJob(123);">
		          <div class="form-group">
		            <input type="text" class="form-control offset-sm-1 col-sm-10 my-2" id="noticeCmt_seq" name="noticeCmt_seq">
		            <label for="noticeCmt_contents" class="col-form-label offset-sm-1">입력 후 저장버튼을 누르세요</label>
		            <input type="text" class="form-control offset-sm-1 col-sm-10 my-2" id="noticeCmt_contents" name="noticeCmt_contents">
		          </div>
				  <div class="modal-footer justify-content-center ">
	  				<input type="submit" class="btn btn-secondary" value="저장">
					<button type="button" class="btn btn-secondary" data-dismiss="modal"> 취소 </button>
				  </div>
		        </form>
			</div>
			<!-- Modal BODY 끝 -->
		</div>
	</div>
</div>
<!-- Modal changeComment Modal  시작 -->


</body>
</html>