<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/config :: configFragment">
<meta charset="UTF-8">
<title>issho - 공지사항</title>

</head>
<body>
<!-- 홍상혁 : 페이징을 위한 자바 스크립트-->
<script>

//공지사항 삭제
function deleteNotice(num) {
	location.href = 'deleteNotice?notice_seq=' + num;
	return false;
}

</script>

	<div id="wrapper">
		<!-- content 시작 -->
		<th:block th:replace="fragments/sidebar :: sidebar"></th:block>
		<!-- content 끝 -->

		<div id="content-wrapper" class="d-flex flex-column">
			<!-- header 시작 -->
			<th:block th:replace="fragments/header :: navFragment"></th:block>
			<!-- header 끝 -->
			
			<!-- [SHHONG] 시작 -->
			
			<div th:insert="/noticeView/modalFragment :: noticeDeleteFrag"></div>

	 			<div class="container-fluid">
						
					<h2>공지사항</h2>
					<h5 th:text="'['+ ${noticeDetail.prj_name} + '] 프로젝트의 공지사항입니다'"></h5>            
					
			
				<!-- Collapse 시작 -->
				<div id="accordion" class="col-lg-8 offset-sm-1 mb-0">
				  <div class="card mb-0" >
					  <div class="card-header  bg-orange" id="headingOne" style="background-color:rgb(255, 249, 227)">
					      <h3 class="mb-0">
					        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" >
					         	<h4 th:text="${noticeDetail.notice_name}"> 공지사항제목 입니다.</h4>
					      	</button>
					      </h3>
					      <div class="d-flex justify-content-around p-0 d-flex">
				        	<div><p class="text-sm-left" th:text="'* 작성자: ' + ${noticeDetail.notice_writer}">* 작성자: 홍길동 </p> </div>
				        	<div><p th:text="'* 작성일시: ' + ${noticeDetail.notice_date}">* 작성일시: 2022.09.15 15:03:00</p> </div>
				        	<div><p th:text="'* 조회수: ' + ${noticeDetail.notice_hits}"> * 조회수: 123</p> </div>
							
<!--  나중에 데이터 정비되면 바꾸어야 됨	-->						
							<div th:if="${#authentication.name} == ${noticeDetail.notice_writer}">
								<div>
									<a class="btn btn-sm bg-gradient-primary text-white" th:href="@{/notice/updateNotice(notice_seq=${noticeDetail.notice_seq})}">　수정　</a>
<!-- 	 								<a class="btn btn-sm bg-gradient-primary text-white" th:href="|javascript:deleteNotice(${noticeDetail.notice_seq})|">　삭제　</a>		-->			
									<a class="btn btn-sm btn-primary" data-toggle="modal" data-target="#deleteNoticeModal">삭제</a>
								</div>
							  </div>
						  </div>
					  </div>
					    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
					      <div class="card-body" th:text="${noticeDetail.notice_contents}">
									공지사항 내용입니다.
					      </div>
					    </div>
					</div>			  
	
				    <!-- 댓글 시작 -->
					<br><br>		

				    <!-- 댓글 입력 폼 -->
					<div class="mb-3">
						<form action="notice/writeReply" method="get">
							<div style="display:inline" height="50px">
								<input type="hidden" name="prj_domain" id="prj_domain" />
								<input type="text" class="col-lg-10" id="notice_name" name="notice_name" placeholder="댓글을 입력하세요">
								<input type="submit" class="btn btn-primary bg-gradient-primary " value="댓글저장"/> 	
							</div>
						</form>
					</div>
	 
				    <!-- 댓글 시작 -->
					<!-- 1번째 댓글 -->
					<div class="m-0 p-0 bg-white" style="border-bottom: 1px solid rgb(192, 192, 192); border-top: 1px solid rgb(192, 192, 192); ">
						<p class="m-0 mx-2 mt-2 p-0">댓글 메목입니다.</p>
				        <div class="d-flex m-0 mx-3 p-0 justify-content-between">
							<div class="m-0 p-0"><p>　* 작성자: 홍길동 </p> </div>
							<div class="m-0 p-0"><p>　* 작성일시: 2022.09.15 15:03:00</p> </div>
							<div class="m-0 p-0 text-white">
								<a class="btn-sm bg-gradient-primary text-white" href="@{/notice/changeNotice(notice_seq=${noticeDetail.notice_seq})}">수정</a>
								<a class="btn-sm bg-gradient-primary text-white" href="|javascript:deleteBoard(${noticeDetail.notice_seq})|">삭제</a>
							</div>
						</div>
<!--							
							<div th:if="${#authentication.name} == ${noticeDetail.notice_writer}">
								<a th:href="@{/notice/changeNotice(notice_seq=${noticeDetail.notice_seq})}">수정</a>
								<a th:href="|javascript:deleteBoard(${noticeDetail.notice_seq})|">삭제</a>
							</div>
-->
					</div>
					
					<!-- 2번째 댓글 -->
					<div class="m-0 p-0 bg-white" style="border-bottom: 1px solid rgb(192, 192, 192); border-top: 1px solid rgb(192, 192, 192); ">
						<p class="m-0 mx-2 mt-2 p-0">댓글 메목입니다.</p>
				        <div class="d-flex m-0 mx-3 p-0 justify-content-between">
							<div class="m-0 p-0"><p>　* 작성자: 홍길동 </p> </div>
							<div class="m-0 p-0"><p>　* 작성일시: 2022.09.15 15:03:00</p> </div>
							<div class="m-0 p-0"><a class="bg-gradient-primary text-white" href="@{/notice/changeNotice(notice_seq=${noticeDetail.notice_seq})}">수정</a>
								<a class="bg-gradient-primary text-white" href="|javascript:deleteBoard(${noticeDetail.notice_seq})|">삭제</a>
							</div>
						</div>
<!--							
							<div th:if="${#authentication.name} == ${noticeDetail.notice_writer}">
								<a th:href="@{/notice/changeNotice(notice_seq=${noticeDetail.notice_seq})}">수정</a>
								<a th:href="|javascript:deleteBoard(${noticeDetail.notice_seq})|">삭제</a>

							</div>

							<div class="align-self-sm-end"><p>  * 작성일시: 2022.0915 15:03:00 </p> </div>
						</div> 			
					</div> 
-->
					</div>

				</div>
				<br><br>
			<!-- Collapse 끝 -->
			
			
			<!-- Content-Fluid 끝 -->
			</div>

			<!-- [SHHONG] 표 끝 -->
			
			<!-- footer 시작 -->
			<th:block th:replace="fragments/footer :: footerFragment"></th:block>
			<!-- footer 끝 -->
		</div>
	</div>

</body>
</html>