<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/config :: configFragment">
<meta charset="UTF-8">
<title>issho - 공지사항</title>
<script>
//글쓰기폼 확인
function validation() {
	let title = $('#title').val();
	let contents = $('#contents').val();
	
	if (title.length < 5) {
		alert("제목을 입력하세요.");
		$('#title').focus();
		$('#title').select();
		return false;
	}
	
	if (contents.length < 5) {
		alert("내용을 입력하세요.");
		$('#contents').focus();
		$('#contents').select();
		return false;
	}
	return true;
}
</script>	

</head>
<body>
<!-- 홍상혁 : 페이징을 위한 자바 스크립트-->

	<div id="wrapper">
		<!-- content 시작 -->
		<th:block th:replace="fragments/sidebar :: sidebar"></th:block>
		<!-- content 끝 -->

		<div id="content-wrapper" class="d-flex flex-column">
			<!-- header 시작 -->
			<th:block th:replace="fragments/header :: navFragment"></th:block>
			<!-- header 끝 -->
			
			<!-- [SHHONG] 표 시작 -->
<!-- 			<div class="container-fluid" width="80%">  -->
	 			<div class="container-fluid		">
						
					<h2>공지사항 작성</h2>
					<p>The .table-bordered class adds border on all sides of the table and cells:</p>            
					
					<form class="col-lg-9" action="writeNotice" method="post" 
							enctype="multipart/form-data" onsubmit="return validation();">
						<input type="hidden" name="prj_domain" id="prj_domain" />
						<table>
							<tr class="col-lg-8" height="60px">
								<td class="col-lg-1 text-left"><b>제목 :</b></td>
								<td class="col-lg-7"><input type="text" class="form-control" id="notice_name" name="notice_name" placeholder="제목을 입력하세요"></td>
							</tr>
							<tr class="col-lg-8" >
								<td class="col-lg-1 text-top text-left"><b>공지 :</b></td>
								<td class="col-lg-7">
									<textarea class="form-control" rows="13	" id="notice_contents" name="notice_contents" placeholder="공지할 내용을 입력하세요"></textarea>
								</td>
							</tr>
							<tr>
								<td class="col-lg-1 text-left" height="60px"><b>첨부파일 :</b></td>
								<td><input class="col-lg-7" type="file" id="upload" name="upload" ></td>
							</tr>
							<tr>
								<td class="text-center" colspan="2" >
									<input type="submit" class="btn-primary" th:href="@{notice/write}"value="저장하기"/> 	
									<input type="reset" class="btn-primary" value="다시입력"/>
								</td>
							</tr>
						</table>
					</form>
				<br><br>
			</div>
			
			<!-- [SHHONG] 표 끝 -->
			
			<!-- footer 시작 -->
			<th:block th:replace="fragments/footer :: footerFragment"></th:block>
			<!-- footer 끝 -->
		</div>
	</div>

</body>
</html>