<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/config :: configFragment">
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- Custom styles for this template
<link href="css/sb-admin-2.min.css" rel="stylesheet">-->

<script>
$(function() {
		alert('aa');
		$("#sidebarToggle, #sidebarToggleTop").on('click', function(e) {
			$("body").toggleClass("sidebar-toggled");
			$(".sidebar").toggleClass("toggled");
			if ($(".sidebar").hasClass("toggled")) {
				$('.sidebar .collapse').collapse('hide');
			}
			;
		});

	})
</script>


</head>
<body>
	<!-- Sidebar -->
	<div th:fragment="sidebar">
		<ul
			class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
			id="accordionSidebar">

			<!-- Sidebar - Brand -->
			<a
				class="sidebar-brand d-flex align-items-center justify-content-center"
				href="index.html">
				<div class="sidebar-brand-icon rotate-n-15">
					<i class="fas fa-laugh-wink"></i>
				</div>
				<div class="sidebar-brand-text mx-3">ISSHO</div>
			</a>

			<!-- Divider -->
			<hr class="sidebar-divider my-0">
			<!-- ISSHO HOME Item - Dashboard -->
			<li class="nav-item active"><a class="nav-link"
				href="index.html"> <i class="fas fa-fw fa-tachometer-alt"></i> <span>ISSHO
						HOME</span></a></li>

			<!-- Divider -->
			<hr class="sidebar-divider">

			<!-- Heading -->
			<div class="sidebar-heading">협업 관리</div>
			<!-- 프로젝트 Item - Pages Collapse Menu -->
			<li class="nav-item"><a class="nav-link collapsed" href="#"
				data-toggle="collapse" data-target="#collapseTwo"
				aria-expanded="true" aria-controls="collapseTwo"> <i
					class="fas fa-fw fa-cog"></i> <span>프로젝트</span>
			</a>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item" href="buttons.html">업무</a> <a
							class="collapse-item" href="cards.html">대시보드</a>
					</div>
				</div></li>

			<!-- 맴버주소록 Item -->
			<li class="nav-item"><a class="nav-link" href="charts.html">
					<i class="fas fa-fw fa-chart-area"></i> <span>맴버주소록</span>
			</a></li>

			<!-- 일정관리 Item -->
			<li class="nav-item"><a class="nav-link" href="charts.html">
					<i class="fas fa-fw fa-chart-area"></i> <span>일정관리</span>
			</a></li>

			<!-- 드라이브 Item -->
			<li class="nav-item"><a class="nav-link" href="charts.html">
					<i class="fas fa-fw fa-chart-area"></i> <span>드라이브</span>
			</a></li>

			<!-- Divider -->
			<hr class="sidebar-divider">

			<!-- Heading -->
			<div class="sidebar-heading">프로젝트 관리</div>
			<!-- 멤버 관리 Item -->
			<li class="nav-item"><a class="nav-link" href="charts.html">
					<i class="fas fa-fw fa-chart-area"></i> <span>관리자 메뉴</span>
			</a></li>

			<!-- Divider -->
			<hr class="sidebar-divider d-none d-md-block">

			<!-- Sidebar Toggler (Sidebar) -->
			<div class="text-center d-none d-md-inline">
				<button class="rounded-circle border-0" id="sidebarToggle"></button>
			</div>

		</ul>
		<!-- End of Sidebar -->
	</div>
	<!-- End of Sidebar -->

</body>
</html>