<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/config :: configFragment">
<meta charset="UTF-8">
<title>Insert title here</title>
<script th:src="@{js/jquery-3.6.0.min.js}"></script>

</head>
<body>

	<div id="wrapper">
		<!-- content 시작 -->
		<th:block th:replace="fragments/sidebar :: sidebar"></th:block>
		<!-- content 끝 -->

		<div id="content-wrapper" class="d-flex flex-column">
			<!-- header 시작 -->
			<th:block th:replace="fragments/header :: navFragment"></th:block>

			<div class="container">
				<div class="row row-cols-2">
					<div class="col">
						<div class="card shadow mb-4">
							<div class="card-header py-3">
								<h6 class="m-0 font-weight-bold text-primary">최신 공지사항</h6>
								<div class="card-body">The styling for this basic card
									example is created by using default Bootstrap utility classes.
									By using utility classes, the style of the card component can
									be easily modified with no need for any custom CSS!</div>

							</div>
						</div>
					</div>
					<div class="col">
						<div class="card shadow mb-4">
							<div class="card-header py-3">
								<h6 class="m-0 font-weight-bold text-primary">임박한 일정</h6>
								<div class="card-body">The styling for this basic card
									example is created by using default Bootstrap utility classes.
									By using utility classes, the style of the card component can
									be easily modified with no need for any custom CSS!</div>

							</div>
						</div>
					</div>
					<div class="col">
						<div class="card shadow mb-4">
							<div class="card-header py-3">
								<h6 class="m-0 font-weight-bold text-primary">할당 태스크 현황</h6>
								<div class="card-body">The styling for this basic card
									example is created by using default Bootstrap utility classes.
									By using utility classes, the style of the card component can
									be easily modified with no need for any custom CSS!</div>

							</div>
						</div>
					</div>
					<div class="col">
						<div class="card shadow mb-4">
							<div class="card-header py-3">
								<h6 class="m-0 font-weight-bold text-primary">담당 태스크</h6>
								<div class="card-body">The styling for this basic card
									example is created by using default Bootstrap utility classes.
									By using utility classes, the style of the card component can
									be easily modified with no need for any custom CSS!</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- header 끝 -->
			<!-- footer 시작 -->
			<th:block th:replace="fragments/footer :: footerFragment"></th:block>
			<!-- footer 끝 -->
		</div>
	</div>

	<script>
		function showPop() {

			console.log('showPop 실행');

			window.open("multiRoom/chatHome", "메신저",
					"width=500, height=700, top=10, left=10");
		}
	</script>
</body>
</html>