<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head><!-- 지우기 바람 -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>issho - 회원 가입</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">
    
	<div class="col-lg-12">
		<div class="row justify-content-center">
			<div class="col-lg-10">
			
       		<div class="card o-hidden border-0 shadow-lg my-5">
 
            <div class="card-body p-0">
				<!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block">
                        <img class="img-responsive" width="100%" src="/img/office30v.jpg">
					</div>
					
					<!-- Nested Row within Card Body -->
                    <div class="col-lg-7">
                        <div class="p-5">
  		<th:block th:if="${project}">
                            <div class="text-center">
                                <h1 th:text="${project.prj_name +'회원 가입'}" class="h4 text-gray-900 mb-4"><b>회원 가입</b></h1>
                            </div>
        </th:block>
  		<th:block th:unless="${project}">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4"><b>회원 가입</b></h1>
                            </div>
        </th:block>
	
								<!-- 가입 폼 -->
							<form action="/member/register" enctype="multipart/form-data" method="post">
 								<div class="form-group row text-center">
									<label for="memb_mail" class="col-lg-3 control-label" >이메일 주소</label>
									<div class="col-lg-8">
										<input type="email" class="form-control form-control-user" id="memb_mail" name="memb_mail" placeholder="이메일 주소를 입력하세요">
									</div>
								</div>

 								<div class="form-group row text-center">
									<label for="memb_name" class="col-lg-3 control-label" >이름</label>
									<div class="col-lg-8">
										<input type="text" class="form-control form-control-user" id="memb_name" name="memb_name" placeholder="이름을 입력하세요">
									</div>
								</div>

 								<div class="form-group row text-center">
									<label for="memb_pwd" class="col-lg-3 control-label" >비밀번호</label>
									<div class="col-lg-8">
										<input type="password" class="form-control form-control-user" id="memb_pwd" name="memb_pwd" placeholder="비밀번호을 입력하세요">
									</div>
								</div>
                            
 								<div class="form-group row text-center">
									<label for="memb_pwd2" class="col-lg-3 control-label" >비밀번호(확인)</label>
									<div class="col-lg-8">
										<input type="password" class="form-control form-control-user" id="memb_pwd2" name="memb_pwd2" placeholder="비밀번호를 한번 더 입력하세요">
									</div>
								</div>

 								<div class="form-group row text-center">
									<label for="memb_work" class="col-lg-3 control-label" >담당업무</label>
									<div class="col-lg-8">
										<input type="text" class="form-control form-control-user" id="memb_work" name="memb_work" placeholder="담당업무를 입력하세요">
									</div>
								</div>
	                            
 								<div class="form-group row text-center">
									<label for="memb_phone" class="col-lg-3 control-label" >전화번호</label>
									<div class="col-lg-8">
										<input type="text" class="form-control form-control-user" id="memb_phone" name="memb_phone" placeholder="휴대폰 번호를 입력하세요">
									</div>
								</div>
								
 								<div class="form-group row text-center">
									<label for="photoFile" class="col-lg-3 control-label" >사진파일</label>
									<div class="col-lg-8">
										<input type="file" id="photoFile" name="photoFile" placeholder="파일을 선택하세요">
									</div>
								</div>
	                         
								<div class="form-group">
									<div class="row text-center">
										<div class="col-lg-12 col-lg-offset-3">
				                        	<input type="submit" class="btn btn-primary btn-user col-lg-4" value="가입하기">
										</div>
									</div>
								</div>             
                            </form>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        	</div>
			</div>
		</div>
	</div>
    </div>

</body>

</html>