<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments/config :: configFragment">
<meta charset="UTF-8">
<title>issho - 홈화면</title>

</head>

<!-- [SHHONG] 도메인 네임 체크 스크립트-->
<script>
$(document).ready(function(){
	console.log('test #0');
	$('#prj_domain').on('focus',
		function(){ $('#errMsg').html(''); });
});

function isValidDomain(){
	var domain = $('#prj_domain').val();
	
	//패스워드 정규표현식(영문자+숫자: 8~ 16자)
	var domainRegEx = /^([0-9a-zA-Z]){8,16}$/;
	if(domainRegEx.test(domain)) // 패스워드 형식에 맞는지 체크
		return true;
	else {
		$('#errMsg').html('도메인명을 정확하게 입력하세요.');
		return false;
	}
}
</script>

<body class="bg-gradient-primary">

	<div class="container">
	
		<div class="col-lg-12">
	
			<div class="row justify-content-center">
			
				<div class="col-lg-10">
				
	                <div class="card o-hidden border-0 shadow-lg my-4">
	                    
	                    <div class="card-body p-0">
	                        <img class="img-responsive" width="100%" src="/img/office01.jpg">
						</div>
	
						<div class="row">
							<div class="col-lg-12 text-center">
								<br><h1 class="h4 text-gray-00 mb-1">도메인을 입력하세요</h1>
		                    </div>
		                </div>
		
						<form class="user" action="/project/newProject" method="post" onsubmit="return isValidDomain();">
							<div class="form-group text-center">
								<div class="col-lg-12">
									<input type="text" class="col-lg-6" id="prj_domain" name="prj_domain" placeholder="도메인 이름을 입력하세요(영문자 + 숫자 조합)">
								</div>
							</div>
							<div id="errMsg" class="text-danger text-center"></div>
							<div class="form-group text-center">
								<div class="col-lg-12 col-lg-offset-4">
			                        	<input type="submit" class="btn btn-primary btn-user col-lg-4" value="프로젝트 만들기">
								</div>
							</div>
						</form>
					</div>
				</div>
		   	</div>
		</div>
	</div>

</body>

</html>